<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Farm App | My Account - My profile</title>
</head>
<body>
<div class="content">
    <div th:replace="templates.html :: navBar"></div>
    <main class="container text-center my-3" style="max-width: 600px;">
        <form th:action="@{/edit/perfil}" method="post">
            <div class="card mt-3">

                <img src="img/background.png" class="card-img-top" alt="background-image" style="height: 100px; width: auto;">
                <div style="margin-top: -100px;" class="d-flex justify-content-evenly align-items-center">
                    <div class="d-flex justify-content-evenly align-items-center">
                        <p style="font-size:60px;color:seagreen;margin-right: 20px;"><i class="bi bi-person-circle icon-username"></i></p>
                        <h5 style="color: wheat;">Brian Duran</h5>
                    </div>
                    <button class="btn btn-success" type="submit">Edit user profile</button>
                </div>
                <div class="card-body mt-3">
                    <div class="form-floating mb-3">
                        <input type="text" name="userName" class="form-control" id="floatingInput1" placeholder="User Name" th:value="${farmApp.granjero}">
                        <label for="floatingInput1">User Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="farmName" class="form-control form-control-sm" id="floatingInput2" placeholder="Farm Name" th:value="${farmApp.nombre}">
                        <label for="floatingInput2">Farm Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" name="dayOfLife" class="form-control form-control-sm" id="floatingInput3" placeholder="Day of Life" th:value="${farmApp.dias}">
                        <label for="floatingInput3">Day of Life</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating mb-3">
                            <input type="number" name="eggsCapacity" class="form-control form-control-sm" id="floatingInput4" placeholder="Eggs Capacity" th:value="${farmApp.limiteHuevos}">
                            <label for="floatingInput4">Eggs Capacity</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" name="chickensCapacity" class="form-control form-control-sm" id="floatingInput5" placeholder="Chickens Capacity" th:value="${farmApp.limitePollos}">
                            <label for="floatingInput5">Chickens Capacity</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="d-block my-3 btn btn-success mx-3">Save change</button>
            </div>
        </form>
    </main>
</div>

    <div th:replace="templates.html :: footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>