<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js}"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css}">

    <!--
    <script src="js/dashboard.js"></script>
    -->
    <title th:text="${farmApp.nombre}"></title>
</head>
<body>

    <!-- Navbar -->
    <div th:replace="templates.html::navBar"></div>
    <!-- End navbar -->

    <!-- Dashboard -->
    <section class="container-fluid mt-3">
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 100%;">
                    <div class="card-body d-flex">
                        <img src="img/diasVida.png" alt="Vidas del granjero" style="width: 15%;height:auto;max-width: 20%">
                        <div class="container-progress ms-3" style="width:100%">
                            <p class="pb-1" style="font-size:13px; margin-bottom:0px;text-align:center;">Vidas del Granjero</p>
                            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated overflow-visible text-dark"
                                     th:classappend="${progressFarm.porcentajeDiasVida > 50 ? 'bg-success' : progressFarm.porcentajeDiasVida <= 25 ? 'bg-danger' : ''}"
                                     th:style="${progressFarm.diasVida != null && progressFarm.diasVida > 0 ? 'width: ' + progressFarm.porcentajeDiasVida + '%' : 'width: 0%'}"
                                     th:text="${progressFarm.diasTranscurridos} + ' de ' + ${progressFarm.diasVida}">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body d-flex">
                        <img src="img/eggs.png" alt="Capacidad Maxima de Huevos" style="width: 15%;height:auto;max-width: 20%">
                        <div class="container-progress ms-3" style="width:100%">
                            <p class="pb-1" style="font-size:13px; margin-bottom:0px;text-align:center;">Cantidad de Huevos</p>
                            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated overflow-visible text-dark"
                                     th:classappend="${progressFarm.porcentajeHuevos < 50 ? 'bg-success' : progressFarm.porcentajeHuevos >= 75 ? 'bg-danger' : ''}"
                                     th:style="${'width: ' + progressFarm.porcentajeHuevos + '%'}"
                                     th:text="${progressFarm.cantHuevos + ' de ' + progressFarm.limiteHuevos}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body d-flex">
                        <img src="img/chickens.png" alt="Capacidad Maxima de Pollos" style="width: 15%;height:auto;max-width: 20%">
                        <div class="container-progress ms-3" style="width:100%">
                            <p class="pb-1" style="font-size:13px; margin-bottom:0px;text-align:center;">Cantidad de Chickens</p>
                            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated overflow-visible text-dark"
                                     th:classappend="${progressFarm.porcentajePollos < 50 ? 'bg-success' : progressFarm.porcentajePollos >= 75 ? 'bg-danger' : ''}"
                                     th:style="${'width: ' + progressFarm.porcentajePollos + '%'}"
                                     th:text="${progressFarm.cantPollos + ' de ' + progressFarm.limitePollos}">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between px-4">Información General. <span th:text="${farm.fecha}"></span></div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mx-5">
                            <p class="card-text mb-0">Dinero disponible: $ <span th:text="${farm.dinero}">0</span></p>
                            <a th:href="@{/farm}" class="btn btn-outline-success">Ver Informe <i class="bi bi-arrow-right"></i></a>
                        </div>
                        <div class="d-flex justify-content-between mt-5">
                            <a th:href="@{/egg}">Huevos Totales: <span th:text="${farm.cantHuevos}">0</span></a>
                            <a th:href="@{/chicken}">Pollos Totales: <span th:text="${farm.cantPollos}">0</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                        <div class="card" style="height:100%">
                            <div class="row" style="margin-right: 0px; margin-left:0px;">
                                <div class="col" style="margin-top: 10px">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <div class="container-title" style="height: 35px;">
                                                <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size:13px;">Break Eggs</h6>
                                            </div>
                                            <div class="conatainer-img my-2">
                                                <img src="img/breakEggs.png" alt="Break Eggs" style="max-width: 60%; width:50%;">
                                            </div>
                                            <div class="container-value">
                                                <p class="card-text"
                                                   style="font-size:18px; font-weight:bold;"
                                                   th:text="${cardChickenStatus.countBreakEggs}"></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col" style="margin-top:10px">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <div class="container-title" style="height: 35px;">
                                                <h6 class="card-subtitle mb-2 text-body-secondary" style="font-size:13px;">Chickens Dead</h6>
                                            </div>
                                            <div class="container-img my-2">
                                                <img src="img/chickenDead.png" alt="Chickens Dead" style="max-width:60%; width:50%;">
                                            </div>
                                            <div class="container-value">
                                                <p class="card-text"
                                                   style="font-size:18px; font-weight:bold;"
                                                   th:text="${cardChickenStatus.countChickensDead}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <section class="container mt-5">

        <!-- Section Dias Transcurridos -->
        <form class="row g-3 container text-center d-flex justify-content-center" th:action="@{/dias}" method="post">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Dias</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Días Transcurridos">
            </div>
            <div class="col-auto">
                <label for="cantidad" class="visually-hidden">dias</label>
                <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Días transcurridos" required>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Confirmar</button>
            </div>
        </form>
        <!-- End Dias Transcurridos -->

        <!-- Section Alerts -->
        <div th:replace="templates.html::seccionAlertas"></div>
        <!-- End Section Alerts -->

        <div class="container text-center mt-5">
            <div class="row">
                <!-- Card Comprar Pollo -->
                <div class="col">
                    <form th:action="@{/buy/chicken}" method="post" id="fromBuyChicken">
                    <div class="card" style="width: 14rem;">
                        <img src="img/chickenForBuy.jpg" class="card-img-top" alt="eggForBuy">
                        <div class="card-body">
                            <h5 class="card-title mt-3">Comprar Pollos</h5>
                            <div class="d-flex justify-content-between mt-3">
                                <p class="card-text">$ <span th:text="${store.PRECIO_COMPRA_CHICKEN}">0</span></p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary"><i class="bi bi-dash-circle-fill"></i></button>
                                    <input type="number" name="cantidad" value="1" class="form-control" style="width:50px;">
                                    <button type="button" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i></button>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-12 mx-auto mt-3">
                                <button class="btn btn-primary" id="btn-buyChicken" type="submit">Comprar</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- End Card Comprar Pollo -->

                <!-- Card Comprar Huevo -->
                <div class="col">
                    <form th:action="@{/buy/egg}" method="post">
                    <div class="card" style="width: 14rem;">
                        <img src="img/eggForBuy.jpg" class="card-img-top" alt="eggForBuy">
                        <div class="card-body">
                            <h5 class="card-title mt-3">Comprar Huevos</h5>
                            <div class="d-flex justify-content-between mt-3">
                                <p class="card-text">$ <span th:text="${store.PRECIO_COMPRA_EGG}">0</span></p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary"><i class="bi bi-dash-circle-fill"></i></button>
                                    <input type="number" name="cantidad" value="1" class="form-control" style="width:50px;">
                                    <button type="button" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i></button>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-12 mx-auto mt-3">
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" type="submit">Comprar</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- End Card Comprar Huevo -->

                <!-- Card Vender Huevo -->
                <div class="col">
                    <form th:action="@{/sell/egg}" method="post">
                    <div class="card" style="width: 14rem;">
                        <img src="img/eggForSale.jpg" class="card-img-top" alt="eggForBuy">
                        <div class="card-body">
                            <h5 class="card-title mt-3">Vender Huevos</h5>
                            <div class="d-flex justify-content-between mt-3">
                                <p class="card-text">$ <span th:text="${store.PRECIO_VENTA_EGG}">0</span></p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary"><i class="bi bi-dash-circle-fill"></i></button>
                                    <input type="number" name="cantidad" value="1" class="form-control" style="width:50px;">
                                    <button type="button" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i></button>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-12 mx-auto mt-3">
                                <button class="btn btn-primary" type="submit">Vender</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- End Card Vender Huevo -->

                <!-- Card Vender Pollo -->
                <div class="col">
                    <form th:action="@{/sell/chicken}" method="post">
                    <div class="card" style="width: 14rem;">
                        <img src="img/chickenForSale.jpg" class="card-img-top" alt="eggForBuy">
                        <div class="card-body">
                            <h5 class="card-title mt-3">Vender Pollos</h5>
                            <div class="d-flex justify-content-between mt-3">
                                <p class="card-text">$ <span th:text="${store.PRECIO_VENTA_CHICKEN}">0</span></p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary"><i class="bi bi-dash-circle-fill"></i></button>
                                    <input type="number" name="cantidad" value="1" class="form-control" style="width:50px;">
                                    <button type="button" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i></button>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-12 mx-auto mt-3">
                                <button class="btn btn-primary" type="submit">Vender</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- End Card Vender Pollo -->
            </div>
        </div>
    </section>

    <div th:replace="templates.html :: footer"></div>



    <div id="modalEnviar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DATOS DE CONFIRMACION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="cuerpoEnviar" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button onclick="Confirmar()" type="button" class="btn btn-success">Confirmar</button>
            </div>
        </div>
    </div>
</div>
    <!--
<script src="js/buyChicken.js"></script>
    -->
</body>
</html>